<div data-role="page" class="type-index" id='fixture_index_page'>

  <div data-role="header" data-theme="b">
    <h1><%= @space.space_type_text%></h1>
    <a href="<%=url_for :controller=>:Space,:action=>:edit,:id=>@space.object%>" data-direction="reverse" data-icon="back">Space</a>
    <a href="<%=Rho::RhoConfig.start_path%>" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
  </div><!-- /header -->

  <div data-role="content" >
      <div class="content-primary">
        <ul data-role="listview">
          <li data-role="list-divider">Fixtures<span class="ui-li-count"><%=@fixtures.length%></span></li>
            <% @fixtures.each do |fixture| %>
              <li>
                <a href="<%=url_for :controller=>:Fixture,:action=>:edit,:id=>fixture.object%>">
                  <p><strong><%= fixture.fixture_type_text%></strong></p>
                  <p><%= fixture.present =='true' ? fixture.condition_text : 'Not present'%></p>
               </a>
              </li>
          <% end %>
         </ul>
       </div>
  </div><!-- /ui-body wrapper -->

  <div data-role="footer" data-theme="b">
     <a href="<%=url_for :controller=>:Fixture,:action=>:new,:query=>{:space_id=>@space.object}%>" data-icon="add">Add</a>
  </div><!-- /header -->

</div>