<div data-role="page" class="type-index" id="error_sync_page">
  <div data-role="header" data-theme="b">
    <h1>Sync errors</h1>
    <a href="<%=Rho::RhoConfig.start_path%>" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
  </div><!-- /header -->

   <div data-role="content">

     <%if @data['server_errors'] %>
       <ul data-role="listview">
         <li data-role="list-divider"><%="#{@data['source_name']}(s)"%></li>
         <% @data['server_errors'].each do |err| %>
           <% next unless err[0].include?('error') %>
           <li>
             <%if err[0] == 'query-error' %>
               <h3><%=err[0]%></h3>
               <p><strong style="color: red;"><%=err[1]['message']%></strong></p>
             <%else%>
               <% err[1].each do |e| %>
                 <a href="<%= url_for :controller=>@data['source_name'].to_sym,:action=>:show,:id=>e[0]%>" data-ajax="false">
                   <h3><%=err[0]%></h3>
                   <p><strong style="white-space:pre-wrap;color: red;"><%=e[1]['message']%></strong></p>
                   <p><strong style="white-space:pre-wrap;"> <%= e[1]['attributes']%></strong></p>
                 </a>
               <%end%>
             <%end%>
           </li>
         <%end%>
       </ul>
     <%else%>
       <p><strong style="color: red"> <%= @params['msg'] %> </strong></p>
     <%end%>
   </div><!-- /ui-body wrapper -->
</div><!-- /page -->