<div data-role="page" id="changed_values_index_page">
  <div data-role="header" data-theme="b">
    <a href="<%=url_for :controller=>:Settings,:action=>:index%>" data-icon="back">Settings</a>
    <h1>Changed Values Index</h1>
    <a href="<%=Rho::RhoConfig.start_path%>" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
  </div><!-- /header -->
  <div data-role="content">
     <ul data-role="listview">
       <li data-role="list-divider">Changes<span class="ui-li-count"><%=@changed_values.length%></span></li>
       <% curr_src = 0 %>
       <%@changed_values.each do |changed_value| %>
         <%unless curr_src == changed_value['source_id'] %>
            <li data-role="list-divider"><%= Rho::RHO.get_user_db.select_from_table('sources','name',{'source_id'=>changed_value['source_id']})[0]['name']%> </li>
            <% curr_src = changed_value['source_id'] %>
         <%end%>
         <li>
           <a href="<%= url_for :controller=>:ChangedValues,:action=>:edit,:query=>{:source_id=>changed_value['source_id'],
                                                                        :object=>changed_value['object'],
                                                                        :attrib=>changed_value['attrib'],
                                                                        :update_type=>changed_value['update_type']}%>">
             <p><strong><%= "#{changed_value['object']}:#{changed_value['attrib']}"%></strong></p>
             <p class="ui-li-aside"><%="#{changed_value['update_type']}:#{changed_value['sent']}"%></p>
             <p><%=changed_value['value']%></p>
           </a>
         </li>
       <%end%>
     </ul>
  </div><!-- /ui-body wrapper -->

  <div data-role="footer" data-position="fixed" data-theme="b">
    <a href="<%= url_for :controller=>:ChangedValues,:action=>:fix%>" data-ajax="false">Fix Sync</a>
  </div>
</div><!-- /page -->

